# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Visual Studio Output Files
src/Debug/*
src/Release/*

# Latex Output Files
report/*.aux
report/*.ps
report/*.log
report/*.bbl
report/*.blg
report/*.out
report/*.toc
report/*.pdf
